@media screen and (min-width: 320px) {
    #main--div,
    .process {
        width: 100%;
    }
}

@media screen and (min-width: 580px) {
    #main--div,
    .process {
        width: 500px;
    }
}

@media screen and (max-width: 319px) {
    #main--div,
    .process {
        width: 100%;
    }
    .process__answer--first,
    .process__answer--second {
        font-size: 1.3rem !important;
    }
}

* {
    font-family: 'NanumSquare', sans-serif !important;
}

body {
    background: rgb(236, 236, 236);
    height: 100%;
    margin: 0;
}

.container-fluid {
    height: 100%;
}

.row {
    height: 100%;
}

#main--div {
    margin: 0 auto;
    background: white;
    min-height: 100%;
}

#main--img {
    width: 100%;
    height: 60%;
    margin: 25% auto 0;
    cursor: pointer;
}

.process {
    margin: 0 auto;
    background: white;
    height: 100%;
    position: relative;
}

.process__header--img {
    width: 100%;
    height: 23%;
}

.process__header__Qmark {
    color: rgb(247, 147, 27);
    font-weight: bold;
    /* font-size: 30px; */
    width: 100%;
    text-align: center;
    margin-top: 20%;
    font-size: 2.6rem;
}

.process__header__title {
    width: 100%;
    text-align: center;
    margin-bottom: 40%;
    font-size: 1.8rem;
}

.process__answer--inner-text {
    width: 100%;
    text-align: center;
    line-height: 150%;
}

.process__answer--first {
    width: 85%;
    height: 8%;
    border: 2px solid rgb(247, 147, 27);
    border-radius: 4rem;
    margin: 0 auto 3% 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 20%;
    font-size: 1.7rem;
}

.process__answer--second {
    width: 85%;
    height: 8%;
    border: 2px solid rgb(247, 147, 27);
    border-radius: 4rem;
    margin: 0 auto 3% 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 9%;
    font-size: 1.7rem;
}

.load-wrapp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}